@import url('https://fonts.googleapis.com/css?family=Montserrat:700,500');

/* .navbar {
    background: rgb(223, 223, 223);
    height:60px;
    margin-top: -80px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top:0;
    z-index:10;
    width: 100vw;
  } */

/*  */

/* .nav-bar_item {
    align-items: flex-end;
    align-self: center;
    display: flex;
    height: 40px;
    margin-left: 135px;
    min-width: 620px; 
  } */

/* .place {
    letter-spacing: 0;
    min-height: 40px;
    text-align: center;
    width: 94px;
  } */

/* .nav-bar_item-item {
    letter-spacing: 0;
    margin-bottom: 0;
    margin-left: 79px;
    min-height: 40px;
    text-align: center;
    width: 94px;
  } */

/* sec */

.app__navbar {
  width: 100%;
  display: flex;
  height: 75px;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--color-crimson); */
  background: rgb(231, 231, 231);
  padding: 1rem 2rem;
}

.app__navbar {
  position: relative;
}
.app__navbar:before,
.app__navbar:after {
  z-index: -1;
  position: absolute;
  content: '';
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: rgb(69, 69, 69);
  -webkit-box-shadow: 0 35px 20px rgb(24, 24, 24);
  -moz-box-shadow: 0 35px 20px rgb(59, 58, 58);
  box-shadow: 0 35px 20px rgb(14, 14, 14);
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.app__navbar:after {
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}
.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app__navbar-logo img {
  width: 150px;
}
.app__navbar-logo img:hover {
  margin-left: 9px;
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

.app__navbar-links li {
  margin: 0 1rem;
  cursor: pointer;
  color: grey;
}

.app__navbar-links li:hover {
  color: #ffffffff;
  padding-top: 9px;
}

.app__navbar-smallscreen {
  display: none;
}

.app__navbar-smallscreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(223, 219, 219);
  transition: 0.5s ease;

  flex-direction: column;
  z-index: 5;
}

.app__navbar-smallscreen_overlay .overlay__close {
  font-size: 27px;
  color: #c5c5c5;
  cursor: pointer;

  position: absolute;
  top: 20px;
  right: 20px;
}

.app__navbar-smallscreen_links {
  list-style: none;
}

.app__navbar-smallscreen_links li {
  margin: 2rem;
  cursor: pointer;
  color: black;
  font-size: 2rem;
  text-align: center;
}

.app__navbar-smallscreen_links li:hover {
  color: rgb(91, 91, 91);
}

@media screen and (min-width: 2000px) {
  .app__navbar-logo img {
    width: 210px;
  }
}

@media screen and (max-width: 1150px) {
  .app__navbar-links {
    display: none;
  }

  .app__navbar-smallscreen {
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  .app__navbar {
    padding: 1rem;
  }
  .app__navbar-logo img {
    display: none;
  }
}
